
<app-card titulo="Primeiro componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card> 
<app-card titulo="Segundo componente" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Terceiro componente"cor="#BFB9AA">
    <app-terceiro-componente></app-terceiro-componente>
</app-card>
<app-card titulo="Listas"cor="#F2D096">
    <app-listas></app-listas>
</app-card>
<app-card titulo="Serviço"cor="#ED8975">
    <app-exemplo-servico></app-exemplo-servico>
</app-card>
<app-card titulo="Serviço 2"cor="#FFE3DC">
    <app-exemplo-servico2></app-exemplo-servico2>
</app-card>
<app-card titulo="Ciclo de vida"cor="#A2AD91">
    <app-ciclo-vida-pai></app-ciclo-vida-pai>
</app-card> 