<footer class="footer">
<div class="footer__container">
    <section>
        <h2 class="footer__title">Sobre </h2>
        <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolores soluta eos dolor sequi quo consequuntur excepturi blanditiis itaque optio assumenda voluptas animi recusandae, enim at architecto dolore quos praesentium?</p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope"></i> windson.victor@gmail.com</li>
            <li><i class="fa-solid fa-phone"></i> +55 (81) 99888-1745</li>
            <li><i class="fa-brands fa-whatsapp"></i> +55 (81) 99888-1745</li>
        </ul>
    </address>
</div>
<section class="footer__copyright">
    &copy; Todos os direitos reservados
</section>
</footer>